# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Self_Hosted

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: CmdLine@2
  displayName: 'Run TotalTest CLI'
  inputs:
    script: |
      "$(cliPath)\TotalTestFTCLI.bat" ^
      -f "$(testScenarioPath)" ^
      -R -g TTTReport -G -v 6 -l CLI -log "All" ^
      -u "$(userId)" -p "$(password)" ^
      -cfgdir "$(configPath)" ^
      -ccrepo "$(ccRepo)" -ccsystem "$(ccSystem)" -cctestid "$(ccTestId)" ^
      -e "$(envId)"

- task: CmdLine@2
  displayName: 'Show CLI Log'
  inputs:
    script: |
      echo "After CLI execution"
      CD "C:\runtime\TotalTest-2503\CWK8000_CW01\Tests\Output"
      
      IF EXIST "CWK8000_Scenario.cli.suiteresult" (
        type "CWK8000_Scenario.cli.suiteresult"
      ) ELSE (
        echo File CWK8000_Scenario.cli.suiteresult not found.
      )

      IF EXIST "CWK8000_Scenario.cli.suite.sonar.xml" (
        type "CWK8000_Scenario.cli.suite.sonar.xml"
      ) ELSE (
        echo File CWK8000_Scenario.cli.suite.sonar.xml not found.
      )

      IF EXIST "CWK8000_Scenario.cli.suite.junit.xml" (
        type "CWK8000_Scenario.cli.suite.junit.xml"
      ) ELSE (
        echo File CWK8000_Scenario.cli.suite.junit.xml not found.
      )

      IF EXIST "CWK8000_Scenario.cli.sonar.codecoverage.xml" (
        type "CWK8000_Scenario.cli.sonar.codecoverage.xml"
      ) ELSE (
        echo CWK8000_Scenario.cli.sonar.codecoverage.xml not found.
      )
- task: CmdLine@2
  displayName: 'Run CodeCoverage CLI'
  inputs:
    script: |
      "$(cliPath)\CodeCoverageCLI.bat" ^
      -host "$(host)" ^
      -port "$(port)" ^
      -code 1047 ^
      -data "$(targetFolder)\target\data\code_coverage" ^
      -cc.test "Test" ^
      -cc.repos "$(ccRepo)" ^
      -cc.system "$(ccSystem)" ^
      -cc.sources "C:\WorkBenchCLI_Workspace\topazworkbenchcli.24.1.01.103\sources" , "C:\WorkBenchCLI_Workspace\topazworkbenchcli.24.1.01.103\copyBook"^
      -targetFolder "$(targetFolder)" ^
      -id "$(userId)" ^
      -pass "$(password)"

- task: CmdLine@2
  displayName: 'Show Code Coverage Output'
  inputs:
    script: |
      echo "After CLI execution"
      cd "$(targetFolder)\Coverage"
      dir
      #type CodeCoverage.xml
- task: downloadertask@1
  inputs:
    cesUrl: 'https://vw-dtw-xat-01.adprod.bmc.com:48228/'
    connectionId: 'CW01.BMC.COM:16196#1047 - Latin 1 (Open Systems)'
    authenticationType: 'TOKEN'
    cesSecretToken: '$(cesToken)'
    sourceDownloadLocation: 'C:\agent\_work'
    downloadSourceType: 'Container'
    containerType: 'Assignment'
    containerId: 'play0051598'
    componentType: 'COB'
    taskLevel: 'dev1'
    downloadUnchangedSource: true