# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Self_Hosted

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: CmdLine@2
  displayName: 'Run TotalTest CLI'
  inputs:
    script: |
      "$(cliPath)\TotalTestFTCLI.bat" ^
      -f "$(testScenarioPath)" ^
      -R -g TTTReport -G -v 6 -l CLI -log "All" ^
      -u "pinaka0" -p "%PASSWORD%" ^
      -cfgdir "$(configPath)" ^
      -ccrepo "PINAKA0.AJAY.CCTEST" -ccsystem "ajay121" -cctestid "ajay121" ^
      -e "d59115f4-0250-48f4-9c15-450bc236d456"