# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Self_Hosted

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: CmdLine@2
  displayName: 'Run TotalTest CLI'
  inputs:
    script: |
      "C:\WorkBenchCLI_Workspace\topazworkbenchcli.24.1.01.103\TotalTestFTCLI.bat" ^
      -f "C:\runtime\TotalTest-2503\CWK8000_CW01\Tests\Scenarios\CWK8000_Scenario.testscenario" ^
      -R -g TTTReport -G -v 6 -l CLI -log "All" ^
      -u "pinaka0" -p "Freep0rt@bmc9" ^
      -cfgdir "C:\runtime\TotalTest-2503\TotalTestConfiguration" ^
      -ccrepo "PINAKA0.AJAY.CCTEST" -ccsystem "ajay121" -cctestid "ajay121" ^
      -e "d59115f4-0250-48f4-9c15-450bc236d456"