# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Github Enterprise Server

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: downloadertask@1
  inputs:
    cesUrl: 'https://vw-dtw-xat-01.adprod.bmc.com:48228/'
    connectionId: 'CW01.BMC.COM:16196#1047 - Latin 1 (Open Systems)'
    runtimeConfig: '$(configPath)'
    authenticationType: 'TOKEN'
    cesSecretToken: '$(cesToken)'
    sourceDownloadLocation: '$(targetFolder)"'
    downloadSourceType: 'Container'
    containerType: 'Assignment'
    containerId: 'KTTA000594'
    componentType: 'COB'
    taskLevel: 'DEV1'
    downloadUnchangedSource: true

