# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  - group: variable-win
# Configure the workspace cleanup options here
#workspace:
#  clean: all

pool:
  name: Github Enterprise Server

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: CmdLine@2
  displayName: "Download cobol source code"
  inputs:
    script: |
      $(CLI_PATH)/SCMDownloaderCLI.bat -host $(host) -port 16196 -id $(user) -pass $(pass) -code 1047 -timeout "0" -targetFolder $(targetFolder) -data $(data) -scm $(scm) -ispwContainerName $(ispwContainerName) -ispwContainerType $(ispwContainerType) -ispwDownloadAll true

- task: CmdLine@2
  displayName: "Execute Total Test Scenarios"
  inputs:
    script: |
      $(CLI_PATH)/TotalTestFTCLI.bat -e $(envId) -data $(data) -S $(cobSource) -f $(file) -u $(user) -p $(pass) -cp 1047 -cfgdir $(cfgdir) -loglevel DEBUG -R -G -v 6 -ccclear true -ccrepo $(ccrepo) -ccsys $(sys1) -cctid $(testid)

- task: CmdLine@2
  displayName: "Run code coverage"
  inputs:
    script: |
      $(CLI_PATH)/CodeCoverageCLI.bat -host $(host) -port $(port) -id $(user) -pass $(pass) -code '1047' -timeout "0" -targetFolder $(targetFolder) -data $(data) --cc.repos $(ccrepo) --cc.test $(testid) --cc.system $(sys1) --cc.sources $(targetFolder)\KTTA\MF_Source


- task: CmdLine@2
  displayName: "After Code Coverage Download"
  inputs:
    script: |
      REM Display log file
      type "%data%\.metadata\.log"

      REM List all files recursively with details
      dir /s /a /t /q "C:\agent\_work\1\s\source"

      REM Navigate to Coverage folder
      cd "C:\agent\_work\1\s\source\Coverage"

      REM Show CodeCoverage.xml content
      type "CodeCoverage.xml"

      REM Print success message
      echo Code coverage download completed successfully.


